<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BrewBook</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="module.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
</head>

<body ng-app='beerApp' ng-controller="beerCtrl">
  <h1>BrewBook!</h1>

  <label for=""> Latest Beer:</label>
  <input ng-model="newBeer.brewery" type="text" placeholder="Brewery Name">
  <input ng-model="newBeer.beer" type="text" placeholder="Beer Name">
  <input ng-model="newBeer.style" type="text" placeholder="Style">
  <input ng-model="newBeer.url" type="url" placeholder="url to label">
  <button ng-click="addBeer()">Add Beer</button>

  <div class="container">
    <div class="row">
      <div ng-repeat="beer in beers" class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{beer.url}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{beer.brewery}}<i class="material-icons right">more_vert</i></span>
            <p>{{beer.beer}}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{beer.brewery}}<i class="material-icons right">close</i></span>
            <h4>{{beer.beer}} {{beer.style}}</h4>
            <p> My rating: {{beer.rating}} / 10 </p>
            <p>{{beer.desc}}</p>
            <button ng-click='editBeer(beer)'><i class="material-icons">edit</i></button>
            <button ng-click='removeBeer(beer)'><i class="material-icons">delete forever</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
      <table>
        <tr ng-repeat="beer in beers">
          <td><img ng-src="{{beer.url}}"> </td>
          <td>
            <button ng-click='editBeer(beer)'><i class="fa fa-pencil-square-o"></i></button>
          </td>
          <td>
            <button ng-click='removeBeer(beer)'><i class="fa fa-times-circle-o"></i></button>
          </td>
        </tr>
      </table> -->

  <div ng-show="editingBeer">
    <h4>Edit Beer</h4>
    <input ng-model="beerToEdit.brewery" type="text" placeholder="Brewery">
    <input ng-model="beerToEdit.beer" type="text" placeholder="Beer Name">
    <input ng-model="beerToEdit.style" type="text" placeholder="Style">
    <input ng-model="beerToEdit.desc" type="text" placeholder="Notes on Beer">
    <input ng-model="beerToEdit.url" type="url" placeholder="Type">
    <button ng-click="saveEdit(beerToEdit)">
      <i class="material-icons">save</i>
    </button>
    <button ng-click="cancelEdit()">
      <i class="material-icons">cancel</i>
    </button>
  </div>

</body>

</html>
