<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BrewBook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="module.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
</head>
<body ng-app='beerApp' ng-controller="beerCtrl">
  <h1>BrewBook!</h1>

    <label for=""> Latest Beer:</label>
    <input ng-model="newBeer.brewery" type="text" placeholder="Brewery Name">
    <input ng-model="newBeer.beer" type="text" placeholder="Beer Name">
    <input ng-model="newBeer.style" type="text" placeholder="Style">
    <input ng-model="newBeer.url" type="url" placeholder="url to label">
    <button ng-click="addBeer()">Add Beer</button>

      <table>
        <tr ng-repeat="beer in beers">
          <td><img ng-src="{{beer.url}}"> </td>
          <td>
            <button ng-click='editBeer(beer)'><i class="fa fa-pencil-square-o"></i></button>
          </td>
          <td>
            <button ng-click='removeBeer(beer)'><i class="fa fa-times-circle-o"></i></button>
          </td>
        </tr>
      </table>

  <div ng-show="editingBeer">
    <h4>Edit Beer</h4>
    <input ng-model="beerToEdit.brewery" type="text" placeholder="brand">
    <input ng-model="beerToEdit.beer" type="number" placeholder="Size">
    <input ng-model="beerToEdit.style" type="text" placeholder="Type">
    <input ng-model="beerToEdit.url" type="url" placeholder="Type">
    <button ng-click="saveEdit()">
      <i class="fa fa-check-square-o"></i>
    </button>
    <button ng-click="cancelEdit()">
      <i class="fa fa-times-circle"></i>
    </button>
  </div>

</body>
</html>
